@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  font-family: 'Press Start 2P', cursive;
}
.container {
  display:grid;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f;

}
.map{
  display:grid;
  grid-template-columns: repeat(28,20px);
  grid-template-rows: repeat(31,20px);
  position: absolute;
  background: #000000;
  /* justify-items: center;
  align-items:center; */
  /* z-index: -2; */
}
.wall{
  /* position:relative; */
  background:#4783ff;
  /* z-index: 4; */
}
.path{
  background: #000000;
}
.dot {
  display: grid;
  justify-items: center;
  align-items:center;
  background: #faff8a;
  border-radius: 50%;
  width: 50%;
  height: 50%;

}


.overlay{
  display:grid;
  grid-template-columns: repeat(29,20px);
  grid-template-rows: repeat(31,20px);
  position: absolute;
}


.player {
  background:url('../resources/pac-man.png');
  background-size:contain;
}

.score {
  display: block;
  position: fixed;
  right:0;
  top:0;
}

.ghost {
  background:url('../resources/ghost-sprite.png');
  background-size:contain;
}