@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --bg-color: #000000;
  --primary-color: #faff8a;
  --border-color:#4783ff;

}
[data-theme="inverted"] {
  --bg-color: #faff8a;
  --primary-color: #000000;
  --border-color:#05286d;
}
[data-theme="classic"] {
  --bg-color: #000000;
  --primary-color: #faff8a;
  --border-color:#4783ff;

}
[data-theme="crt"] {
  --bg-color: #021100;
  --primary-color: #00ff0d;
  --border-color:#0fb400;
}

[data-theme="nord"] {
  --bg-color: #2E3440;
  --primary-color: #D8DEE9;
  --border-color:#81A1C1;
}

* {
  font-family: 'Press Start 2P', cursive;
  background: var(--bg-color);
  color: var(--primary-color);
}
.welcome {
  display:flex;
  flex-direction: column;
  height:80vmin;
  width: 60vmin;
  justify-content:space-around;
  align-items:center;
  margin:auto;

}
h1{
  font-size: 6vmin;
  background:none;
}
h3 {
  font-size:2.5vmin;
}
ul {
  font-size: 1.5vmin;
  list-style:none;
}
.theme-bttn {
  font-size:2vmin;
  border: solid var(--primary-color);
  padding: 1vmin;
  border-radius: 5px;
  margin:.5vmin;
  margin-left: -5vmin;

}
.subheading, .startbutton {
  font-size:2vmin;
  background: none;
}
.start-button, .replay-button {
  font-size: 2vmin;
  border: solid var(--primary-color); 
  padding: 1em;
  border-radius: 12px;
}
.body {
  background:var(--bg-color);
  color: var(--primary-color);

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
.game {
  display:inline-grid;
  /* flex-direction: column; */
  grid-template-columns: 1f;
  grid-template-rows: 500px 1f;
}
.game-header{
  display:block;
  font-size:3vmin;
}
.map{
  display:grid;
  grid-template-columns: repeat(28,2.5vmin);
  grid-template-rows: repeat(31,2.5vmin);
  /* position: absolute; */
  /* position: relative; */
  background:var(--bg-color);
  grid-row-start: 2;
  grid-column-start: 1;
  z-index: 2;
}

.overlay{
  background: none;
  display:grid;
  grid-template-columns: repeat(28,2.5vmin);
  grid-template-rows: repeat(31,2.5vmin);
  /* position: absolute; */
  /* position: relative; */
  align-content:center;
  grid-row-start: 2;
  grid-column-start: 1;
  z-index:3;
}

.game-message {
  background: rgba(0, 0, 0, 0.2);
  display:none;
  align-content:center;
  justify-items:center;
  grid-row-start:2;
  grid-column-start:1;
  z-index:4;
}
.win-message {
  display:none;
  /* align-content:center;
  justify-items:center; */
  background: rgba(0, 0, 0, 0.2);
}
.game-over {
  display:none;
  /* align-content:center;
  justify-items:center;
  grid-row-start:2;
  grid-column-start:1;
  z-index:5; */
  background: rgba(0, 0, 0, 0.2);
}
.wall{
  background:var(--bg-color);
  border: solid var(--border-color);
  margin: 1px;

}
.top-border {
  border-top: solid #4783ff;
  background:green;
}
.bottom-border {
  border-bottom: solid #4783ff;
}
.right-border {
  border-right: solid #4783ff;
}
.left-border {
  border-left: solid #4783ff;
}

.path{
  background:var(--bg-color);
  border: none;
  /* margin -1px; */
}
.dot {
  display: grid;
  /* justify-items: center; */
  /* align-items:center; */
  background: var(--primary-color);
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin: 35%;
}



.player {
  /* background:url('../resources/pac-man.png'); */
  /* clip-path: circle(50%); */
  border-radius: 50%;
  /* clip-path:circle(50%); */
  background-color: var(--primary-color);
  background-size:contain;
  clip-path: polygon(50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 94%, 48% 49%, 0 4%, 0 0);
  animation-name: chomp;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  /* transform: rotate(90deg); */

}



#ghost {
  background:url('../resources/ghost-sprite.png');
  background-size:contain;
}

#redGhost {
  background:url('../resources/redGhost.png');
  background-size:contain;
}
#blueGhost {
  background:url('../resources/blueGhost.png');
  background-size:contain;
}

#greenGhost {
  background:url('../resources/greenGhost.png');
  background-size:contain;
}

#pinkGhost {
  background:url('../resources/pinkGhost.png');
  background-size:contain;
}

#orangeGhost {
  background:url('../resources/orangeGhost.png');
  background-size:contain;
}

#turquoiseGhost {
  background:url('../resources/turquoiseGhost.png');
  background-size:contain;
}

@keyframes chomp {
  0% {
    clip-path: (50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 94%, 48% 49%, 0 4%, 0 0);
  }
  25% {
    clip-path: polygon(50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 71%, 48% 49%, 0 27%, 0 0);

  }
  50% {
    clip-path: polygon(50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 45%, 48% 49%, 0 50%, 0 0);
  }
  75% {
    clip-path: polygon(50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 71%, 48% 49%, 0 27%, 0 0);
  }
  100% {
    clip-path: polygon(50% 0%, 67% 0, 100% 0, 100% 100%, 61% 100%, 0 100%, 0 94%, 48% 49%, 0 4%, 0 0);
  }
}