.container {
  display:grid;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f;
}
.map{
  display:grid;
  grid-template-columns: repeat(10,40px);
  grid-template-rows: repeat(10,40px);
  position: absolute;
}
.wall{
  background:#4783ff;
}
.path{
  background: #0bcb00;
}
.dot {
  background: #0bcb00;
  border-radius: 50%;
}


.overlay{
  display:grid;
  grid-template-columns: repeat(10,40px);
  grid-template-rows: repeat(10,40px);
  position: absolute;
}
#sprite {
  background: #faff8a;
  /* grid-column-start: 2; */
  /* grid-column-end: auto; */
  /* grid-row-start: 2; */
  /* grid-row-start: auto; */
  /* grid-area: 2 / 2 / 2 /2; */
}

.score {
  display: block;
  position: fixed;
  right:0;
  top:0;
}